#sort-random-box {
    width: 300px;
}

#sort-random-btn {
    color: #FFF;
    background: #30a7d7;
    font-weight: normal;
    width: 300px;
    height: 40px;
    font-size: 18px;
    text-align: center;
    text-shadow: 0 0 0 none;
}

.sort-icon {
    font-size: 22px;
    padding-right: 10px;
}