#dropdownMenu1 {
    color: #FFF;
    background: #000;
    font-weight: normal;
    width: 300px;
    height: 40px;
    font-size: 18px;
    text-align: left;
    text-shadow: 0 0 0 none;
}

.sort-icon {
    font-size: 24px;
}

.sort-icon-small {
    font-size: 22px;
    padding-right: 10px;
}

.sort-filter-box {
    width: 300px;
}

.sort-items-box {
    width: 300px;
    background-color: #666;
}

.sort-items-link {
    color: #eee;
}